<!DOCTYPE html>
<html ng-app="myapp">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="resources/css/index.css">

<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="resources/js/index.js" type="text/javascript"></script>
<script src="resources/js/app.js" type="text/javascript"></script>

<title>Welcome to Spark</title>
</head>
<body>
	<img src="resources/images/logo_just_spark.svg" class="picTest" />
	<div class="contain">
		<div class="logoContainer">
			<div class="logoName">
				<h2>
					<strong>Spark</strong>
				</h2>
			</div>
			<div class="tagline">
				<span>Start Coding Today</span>
			</div>
		</div>
		<div class="divider"></div>
		<div class="loginForm" ng-controller="LoginController">
		You are entering: {{user.fullName()}}
				<div id="username">
					<input type="text" class="usernameInput" placeholder="Username"
						value="" ng-model="user.username">
				</div>
				<div id="password">
					<input type="password" class="passwordInput" placeholder="Password"
						value="" ng-model="user.password">
				</div>
				<button type="submit" id="loginButton">Login</button>
		</div>
	</div>
</body>
</html>